body{
    margin:0;
    background:#111;
    color:white;
    font-family:Arial,sans-serif;
    text-align:center;
}

header{
    background:#00b894;
    padding:20px;
    font-size:30px;
    font-weight:bold;
}

.card{
    background:#222;
    width:90%;
    max-width:500px;
    margin:30px auto;
    padding:20px;
    border-radius:15px;
}
